

.link-icon-top {
    font-size: 2rem !important;
}


body{
    /* background-color: cadetblue !important; */
    /* background-color: rgb(243, 243, 243) !important; */
    background-color: rgb(240, 243, 240) !important;
    position: relative;
    top: -1.3rem;
}


@media (max-width: 58.25em) { 
body{
   background-color: #fff !important;
   height: 10rem !important;
}
 }

.header-main {
    width: 100%;
    z-index: 500 !important; 
    background-color: #fff;
    
   
}
.header-one{
  position: fixed;
  width: 100%;
  background-color: #fff;
    /* width: 100%; */
    height: 5rem;
    z-index: 1000;    
}


@media (max-width: 28.125em) { 
.header-one{
    background-color: #fff !important;
    height: 7.8rem !important;
}
 }


.fa-facebook {
    color: rgb(83, 83, 251);
    font-size: 2.5rem;
    margin-left: 1%;
    display: inline;
    padding-top: .8rem;
    cursor: pointer; 
    position: relative;
    top: 1.1rem;
}
.icons-search {
    padding: .8rem;
    background-color: rgb(243, 243, 243);
    border-radius: 100%;
    color: rgb(136, 136, 136);
    position: relative;
    top: .6rem;
    left: .4rem;
    cursor: pointer;
}

@media (max-width: 28.125em) { 
.icons-search {
            margin-left: 65%;
}
 }

@media (max-width: 25.75em) { 
.icons-search {
    margin-left: 58%;
}
 } 
/*     
@media (max-width: 25em) { 
.icons-search {
    margin-left: 60%;
}
 } */

  
@media (max-width: 22.6875em) { 
.icons-search {
    margin-left: 55%;
}
 }


.icons{
    display: inline;
    cursor: pointer;
}
.fa-home{
    margin-left: 22%;
    font-size: 1.5rem; 
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .3rem;
    padding-bottom: .6rem;
    border-radius: .5rem;
    color: black;
    position: relative;
    top: .6rem;
   
}
:hover.fa-home {
    background-color: rgb(243, 243, 243);
}

@media (max-width: 75.4375em) { 
.fa-home {
        margin-left: 18%;
}
 }

@media (max-width: 61.8125em) { 
.fa-home {
            margin-left: 16%;
}
 }
 
@media (max-width: 56.25em) { 
.fa-home {
        margin-left: 15%;
}
 } 

@media (max-width: 54.875em) { 
.fa-home {
    margin-left: 13%;
}
 }
    
@media (max-width: 51.75em) { 
.fa-home {
    margin-left: 13%;
}
 }

@media (max-width: 49.8125em) { 
.fa-home {
    /* margin-left: 10%; */
}
 }

@media (max-width: 44em) { 
.fa-home {
    /* margin-left: 8%; */
}
 }

@media (max-width: 43.25em) { 
.fa-home {
    display: none !important;
}
 } 

.icons-fa-youtube {
    margin-left: 2.5%; 
    font-size: 1.5rem;
    cursor: pointer; 
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .3rem;
    padding-bottom: .6rem;
    border-radius: .5rem;
    color: black;
    position: relative;
    top: .6rem;
}

:hover.icons-fa-youtube {
    background-color: rgb(243, 243, 243);
} 

@media (max-width: 54.875em) { 
.icons-fa-youtube {
    margin-left: 1%;
}
 }
/* 
@media (max-width: 49.8125em) { 
.icons-fa-youtube {
    margin-left: 4%;
}
 } */

@media (max-width: 43.25em) { 
.icons-fa-youtube {
    display: none !important;
}
 }
    
.icons-archive {
    margin-left: 2.5%; 
    font-size: 1.5rem;
    color: rgb(83, 83, 251);
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .3rem;
    padding-bottom: .6rem;
    border-radius: .5rem;
    position: relative;
    top: .6rem;
}

:hover.icons-archive {
    background-color: rgb(243, 243, 243);
}


@media (max-width: 54.875em) { 
.icons-archive {
        margin-left: 1%;
    }
     }
/* 
@media (max-width: 49.8125em) { 
.icons-archive {
    margin-left: 4%;
}
 } */

@media (max-width: 43.25em) { 
.icons-archive {
    display: none !important;
}
 } 

.icons-fa-archive {
    margin-left: 2.5%; 
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .3rem;
    padding-bottom: .6rem;
    border-radius: .5rem;
    position: relative;
    top: .6rem;
}

:hover.icons-fa-archive {
    background-color: rgb(243, 243, 243);
}

@media (max-width: 59.1875em) { 
.icons-fa-archive {
    display: none !important;
    
}
 }
    
.fa-bars {
    display: none !important;
    margin-left: 2%; 
    font-size: 1.6rem;
    cursor: pointer;
    padding-left: 2%;
    padding-right: 2%;
    padding-top:  .4rem;
    padding-bottom: .6rem;
    border-radius: .5rem;
    position: relative;
    top: 1rem;
} 

:hover.fa-bars {
    background-color: rgb(243, 243, 243);
}

@media (max-width: 59.1875em) { 
.fa-bars {
        display: inline !important;
}
 }

@media (max-width: 54.875em) { 
.fa-bars {
    margin-left: 1%;
}
 }

@media (max-width: 40.8125em) { 
.fa-bars {
    /* margin-left: 4%; */
}
 } 
    
@media (max-width: 42.0625em) { 
.fa-bars {
    /* margin-left: 6%; */
    position: relative;
    top: .8rem;
}
 }


@media (max-width: 28.125em) { 
.fa-bars {
    margin-left: 3%;
}
 } 

.icons-users {
    margin-left: 2.5%;
    position: relative;
    top: .6rem;
   padding-left: 1.8%;
   padding-right: 1.6%;
   padding-top: .4rem;
   padding-bottom: .7rem;
   border-radius: .5rem;

 
}


:hover.icons-users {
    background-color: rgb(243, 243, 243);
}

.fa-users {
padding: .1rem;
border-radius: 100%;
border: solid 1px gray;
}



@media (max-width: 54.875em) { 
.icons-users {
    margin-left: 1%;
}
 }
/* 
@media (max-width: 49.8125em) { 
.icons-users {
    margin-left: 4%;
}
 } */
    
@media (max-width: 43.25em) { 
.icons-users {
  display: none !important;
}
 }


.me-pic {
    width: 1.8rem;
    border-radius: 100%;
    margin-left: 7%;
    cursor: pointer;
}

.me-pic-fast {
position: relative;
top: .4rem;
}

@media (max-width: 79.0625em) { 
.me-pic-fast  {
    display: none;
}
 }

.me-pic-name {
    cursor: pointer;
}

.header-2-icon {
    padding: .7rem;
    position: relative;
    top: .4rem;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}
:hover.header-2-icon {
    background-color: rgb(219, 216, 216) !important;

}


@media (max-width: 28.125em) { 
.header-2-icon  {
    margin-left: 2rem;
}
 }


@media (max-width: 25.75em) { 
.header-2-icon  {
    margin-left: 1rem;
}
 }

.fa-th {
    margin-left: 1rem;
    cursor: pointer;
}
 

:hover.fa-th {
    background-color: rgb(243, 243, 243);
}

@media (max-width: 79.0625em) { 
 .fa-th  {
        margin-left: 10rem;
        
}
 }
  

@media (max-width: 75.5em) { 
.fa-th  {
    margin-left: 8rem;
}
 }
 
@media (max-width: 71.125em) { 
.fa-th  {
    margin-left: 6rem;
}
 }  

@media (max-width: 68.4375em) { 
.fa-th  {
    
    display: none !important;
}
 } 

.fa-plus-circle {
  display: none !important;
}


@media (max-width: 68.4375em) { 
.fa-plus-circle  {
        margin-left: 5rem;
        display: inline !important;     
}
 } 

@media (max-width: 64.9375em) { 
.fa-plus-circle  {
  margin-left: 4rem;
           
}
 } 

@media (max-width: 62.625em) { 
.fa-plus-circle  {
      margin-left: 3rem;               
}
 }  

@media (max-width: 57.8125em) { 
.fa-plus-circle  {
    margin-left: 2rem;
               
}
 }
 
@media (max-width: 54.875em) { 
.fa-plus-circle  {
    margin-left: 7rem;
                   
}
 }

 
@media (max-width: 52em) { 
.fa-plus-circle  {
    margin-left: 5rem;                   
}
 }

@media (max-width: 48.75em) { 
.fa-plus-circle  {
    margin-left: 3rem;
                       
}
 } 

@media (max-width: 45.75em) { 
.fa-plus-circle  {
    margin-left: 1.5rem;
                   
}
 }
     
    
@media (max-width: 43.25em) { 
.fa-plus-circle  {
    margin-left: 19rem !important;                 
   
}
 } 
 
@media (max-width: 39.375em) { 
.fa-plus-circle  {
    margin-left: 17rem !important;                 
}
 }  

@media (max-width: 36.9375em) { 
.fa-plus-circle  {
    margin-left: 13rem !important;                 
}
 }  
    
@media (max-width: 35.1875em) { 
.fa-plus-circle  {
    margin-left: 12rem !important;                 
}
 } 


@media (max-width: 34.5625em) { 
.fa-plus-circle  {
    margin-left: 11rem !important;                 
}
 } 

@media (max-width: 33.6875em) { 
.fa-plus-circle  {
    margin-left: 10rem !important;                 
}
 } 

@media (max-width: 31.25em) { 
.fa-plus-circle  {
    margin-left: 8rem !important;                 
}
 } 


@media (max-width: 28.125em) { 
.fa-plus-circle  {
    margin-left: 5rem !important;                 
}
 } 


@media (max-width: 26.6875em) { 
.fa-plus-circle  {
    margin-left: 3.2rem !important;              
}
 } 


@media (max-width: 25.75em) { 
.fa-plus-circle  {
    margin-left: 3.7rem !important;              
}
 }


@media (max-width: 23.875em) { 
.fa-plus-circle  {
    margin-left: 3rem !important;              
}
 }  
    

@media (max-width: 22.1875em) { 
.fa-plus-circle  {
    margin-left: 2rem !important;                 
}
 }  
/* 
@media (max-width: 42.0625em) { 
.fa-plus-circle  {
    margin-left: 45% !important;                 
}
 } 

@media (max-width: 39.75em) { 
.fa-plus-circle  {
    margin-left: 35% !important;                
}
 } 


@media (max-width: 30.375em) { 
.fa-plus-circle  {
    margin-left: 40% !important;                 
}
 } 


@media (max-width: 28.125em) { 
.fa-plus-circle  {
    margin-left: 20% !important;                 
}
 }  */


.header-2-icon-last{
    padding: .6rem .8rem;
    background-color: rgb(240, 240, 240);
    border-radius: 100%;
    font-size: 1.2rem;
    cursor: pointer;   
    position: relative;
    top: .4rem;
}

:hover.header-2-icon-last {
    background-color: rgb(219, 216, 216);
}

@media (max-width: 28.125em) { 
.header-2-icon-last {
        margin-left: 2rem;                 
}
 }

@media (max-width: 25.75em) { 
.header-2-icon-last {
    margin-left: 1rem;                 
}
 }
     

 
.hr-one{
    width: 7rem;
    border: solid 1px rgb(130, 130, 208) !important;
    margin-left: 45.3%;
    position: relative;
    /* top: .2rem; */
    opacity: 1;
    
} 

@media (max-width: 79.25em) { 
.hr-one {
    margin-left: 46%;
}
 }

  
@media (max-width: 75.375em) { 
.hr-one {
    margin-left: 42%;
}
 }

@media (max-width: 73.25em) { 
.hr-one {
    width: 6rem;
    margin-left: 43%;
}
 } 

@media (max-width: 71.25em) { 
.hr-one {
    margin-left: 43.5%;
}
 }

@media (max-width: 54.875em) { 
.hr-one {
    margin-left: 39%;
    width: 5rem;
}
 }
    

@media (max-width: 52.625em) { 
.hr-one {
    margin-left: 40%;
}
 }

@media (max-width: 49.875em) { 
.hr-one {
    margin-left: 41%;
}
 }



@media (max-width: 45.75em) { 
.hr-one {
     margin-left: 42%;
}
 }
    

 
@media (max-width: 43.25em) { 
.hr-one {

 display: hidden !important;
 opacity: 0;
}
 }

/*
@media (max-width: 55em) { 
.hr-one {
    margin-left: 44.5%;
}
 }
 
@media (max-width: 54.875em) { 
.hr-one {
        margin-left: 40% !important;
}
 } 

@media (max-width: 52.3125em) { 
.hr-one {
    margin-left: 45.5%;
}
 }
     
@media (max-width: 51.6255em) { 
.hr-one {
    margin-left: 42% !important;
}
 }
    
@media (max-width: 54.9375em) { 
.hr-one {
        margin-left: 46%;
}
 }

@media (max-width: 49.8125em) { 
.hr-one {
    margin-left: 36%;
    width: 4rem;
}
 }

@media (max-width: 47.6875em) { 
.hr-one {
    margin-left: 36.5%;
  
}
 } 
   
@media (max-width: 45.8125em) { 
.hr-one {
    margin-left: 37.5%;      
}
 } 


@media (max-width: 42.9375em) { 
.hr-one {
    margin-left: 38.5%;
}
 }
    
@media (max-width: 42.0625em) { 
.hr-one {
   border: solid 1px #fff !important;
}
 } */

.hr-two {
    position: relative;
    top: 1.2rem;
    margin-top: -2.2rem;
    color: grey;
    width: 100%;
    margin-left: .5%;
}
.side-bar {
  position: relative;
  top: 3.9rem;
  width: 22.5rem;
  background-color: #fff;
  height: 40rem;
  position: fixed;
  
}

@media (max-width: 58.25em) { 
.side-bar {
    display: none;
}
 }

/* 
@media (max-width: 65.4375em) { 
.side-bar {
    width: 30%;
}
 }

 
@media (max-width: 65.3125em) { 
.side-bar {
    width: 33%;
}
 }

@media (max-width: 52.4375em) { 
.side-bar {
   display: none;
}
 } */

.heading-4-sidebar {
    margin-top: .7rem;
    margin-left: 6%;
}


.setting-sidebar {
    float: right;
    margin-top: -2.5rem;
    margin-right: 4%;
    padding: .6rem;
    background-color: rgb(222, 222, 222);
    border-radius: 100%;
    cursor: pointer;
}

.search-text {
    margin-top: -1.5rem;
}

.sidebar-search {
position: relative;
top: 1.8rem;
left: 2rem;
}

.side-bar-text{
    width: 90%;
    border-radius: 10rem;
    padding-left: 6%;
    margin-top: .1rem;
    border-style: none;
    background-color: rgb(240, 243, 240);
    padding-top: .3rem;
    padding-bottom: .4rem;
    margin-left: 5%;
}
.side-bar-browase {
    /* margin-top: 1rem; */
    padding: .5rem;
    background-color: rgb(240, 243, 240);
    width: 95%;
    margin-top: 1rem;
    margin-left: 2%;
    cursor: pointer;
}

.group-sidebar {
   font-size: .9rem;
   padding: .3rem;
   background-color: rgb(83, 83, 251);
   color: #fff;
   border-radius: 100%;
   /* margin-left: 2%; */
}
.browse-name{
    font-size: 1rem;
    margin-left: 2%;
}
.notification-2 {
    padding: .3rem;
    background-color: rgb(200, 200, 200);
    border-radius: 100%;
}

.sidebar-notification{
 padding: .5rem;
 margin-left: .4rem;
 /* margin-top: .3rem; */
 width: 95%;
 cursor: pointer;
}

:hover.sidebar-notification {
    background-color: rgb(240, 243, 240);
}

.my-pic-2-notification{
    font-size: 1.3rem;
}
.add-group{
    margin-top: .8rem;
    cursor: pointer;
    
}

.add-group-name {
    padding-top: .5rem;
    padding-left: 25%;
    background-color: rgb(234, 253, 243);
    padding-bottom: .5rem;
    color: rgb(35, 163, 238);
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
    border-radius: .5rem;
    font-weight: 500;
}
:hover.add-group-name {
    background-color: rgb(213, 240, 203);
}
.sidebar-hr {
    width: 90%;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-top: -.6rem;
    
}
/* 
@media (max-width: 79.8125em) { 
.sidebar-hr {
    width: 90%;
}
 }  */
    

.Filters-h5 {
    margin-left: 3%;
    font-size: 1.1rem;
    cursor: pointer;
}
.sidbar-payragraph {
    color: rgb(27, 136, 246);
    padding: .3rem;
    width: 95%;
    margin-left: .7%;
    cursor: pointer;
    margin-top: -.4rem;
    font-weight: 500;
    border-radius: .5rem;
}

:hover.sidbar-payragraph {
    background-color: rgb(243, 243, 243);   
}
.sidbar-hr-2 {
    width: 95%;
    margin-left: 2.5%;
    margin-top: -.7rem;
}
.sidbar-h5{
    font-size: 1rem;
    margin-left: 2%;
    margin-top: -.5rem;
  font-weight: 700;
}
.car-sidebar {
    /* margin-left: 3%; */
    padding-left: .3rem;
    /* margin-top: -.2rem; */
}
:hover.car-sidebar {
    background-color: rgb(243, 243, 243);   
} 

.Vehicle-car {
    padding: .5rem;
    background-color: rgb(243, 243, 243);   
    border-radius: 100%;
    cursor: pointer;
}
.car-name {
    font-size: 1rem;
}



/* secend-side */

.all-person {
    
    display: none !important;
}


@media (max-width: 58.25em) { 
.all-person { 
    position: relative;
    top: 6rem;
    left: 1%;
    display: inline !important;
 }
}      


@media (max-width: 31.5em) { 
.all-person { 
  margin-left: 2% ;
}
 } 

@media (max-width: 28.125em) { 
.all-person { 
  position: relative;
  top: 8rem !important;
 }
} 

.person {
    display: none !important;
} 


@media (max-width: 58.25em) { 
.person {
    display: inline !important;
    padding-top: .3rem;
    padding-bottom: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    border-style: none;
}
 } 

 @media (max-width: 58.25em) { 
.person-1 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .7rem;
    padding-right: .7rem;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    font-weight: 500;
    margin-left: .6%;
    border-style: none;
    font-weight: 500;
}
 }


@media (max-width: 58.25em) { 
.input-top{
    width: 98%;
    margin-left: .5%;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: rgb(236, 236, 236);
    border-style: none;
    padding-top: .3rem;
    padding-bottom: .4rem;
    color: black;
}
 }
    

@media (max-width: 31.5em) { 
.input-top{
   width: 100%;
   margin-left: 0%;
}
 }
     


@media (max-width: 58.25em) { 
.search-text-2{
   margin-top: -3.9rem;
   margin-left: 1.5%;
}
 }
    
.hr-top {
    margin-top: -1rem;
    width: 99%;
}

.secend-fast {
   
}


@media (max-width: 28.125em) { 
.secend-fast{
    margin-top: 3rem;
   
}
 }


.secend-side {
   position: relative;
   top: 6rem;
   z-index: -2;
   /* margin-top: 16rem !important; */
   margin-left: 29.5%;
   /* font-family: 'Times New Roman', Times, serif; */
   display: inline;
   cursor: pointer;
   
}

@media (max-width: 79.75em) { 
.secend-side {
    margin-left: 33%;
}
 } 
    

@media (max-width: 71.25em) { 
.secend-side {
    margin-left: 38%;
}
 } 


@media (max-width: 62.625em) { 
.secend-side {
    margin-left: 42%;
}
 } 
      

@media (max-width: 58.25em) { 
.secend-side {
    margin-left: 2%;
    position: relative;
    top: 6rem;
}
 } 

 
@media (max-width: 31.5em) { 
.secend-side {
    margin-left: 6.5%;
}
 } 
/* 
@media (max-width: 51em) { 
.secend-side {
    margin-left: 7%;
}
 } 

@media (max-width: 46.9375em) { 
.secend-side {
    margin-left: 10%;
}
 } 
   

@media (max-width: 31.4375em) { 
.secend-side {
    margin-left: 6%;
}
 }
 

@media (max-width: 28.125em) { 
.secend-side {
   position: relative;
   top: 7rem;
 
}
 }   

@media (max-width: 27.875em) { 
.secend-side {
    margin-left: 12%;
}
 }  

@media (max-width: 21.875em) { 
.secend-side {
    margin-left: 4%;
}
 } */

.Location-fsd {
    position: relative;
    top: 6.3rem;
    float: right;
    margin-right: 5%;
    color: rgb(83, 83, 251);
    z-index: -2;
    cursor: pointer;
}

@media (max-width: 79.75em) { 
.Location-fsd {
    margin-right: 10%;
}
 } 
    

@media (max-width: 58.25em) { 
.Location-fsd {
    position: relative;
    top: 6rem;
}
 } 

 
@media (max-width: 23.75em) { 
.Location-fsd {
    margin-right: 7%;
    font-size: .9rem;
    position: relative;
    top: 6.2rem;
}
 }

 /* 
@media (max-width: 36.9375em) { 
.Location-fsd {
    margin-right: 10%;
}
 }


 @media (max-width: 34.8125em) { 
.Location-fsd {
    margin-right: 5%;
}
 } 

 @media (max-width: 28.125em) { 
.Location-fsd {
    position: relative;
    top: 7rem;  
   
}
 } 

@media (max-width: 22.6875em) { 
.Location-fsd {
   position: relative;
   top: 7rem;
   margin-right: 5%;
}
 } 

 @media (max-width: 22.4375em) { 
.Location-fsd {
   position: relative;
   top: 5.5rem;
}
 } 



@media (max-width: 21.875em) { 
.Location-fsd {
  position: relative;
left: 1%;    
}
 } 

@media (max-width: 21.875em) { 
.Location-fsd {
    position: relative;
    left:  -2%;
    margin-top: 1.5rem;    
}
 } 


@media (max-width: 20.375em) { 
.Location-fsd {
   
    margin-top: 0rem;    
}
 } */

:hover.Location-fsd {
    border-bottom: 1px solid  rgb(83, 83, 251);
}

.mobile-mide {
    margin-top: 7.4rem;
    margin-left: 23%;
    cursor: pointer;
}
.mobile-1 {
    margin-left: 8.5%;
}

@media (max-width: 79.75em) { 
.mobile-1 {
    margin-left: 13%;
}
 }

     
@media (max-width: 71.25em) { 
.mobile-1 {
    margin-left: 19%;
}
 } 


@media (max-width: 62.625em) { 
.mobile-1 {
    margin-left: 25%;
}
 } 

 
@media (max-width: 58.25em) { 
.mobile-1 {
    margin-left: -28%;
    position: relative;
    top: -2rem;
    margin-top: 10rem;
}
 } 

  
   
@media (max-width: 31.5em) { 
.mobile-1 {
    /* margin-left: 19%; */
    margin-left: -21%;
    /* margin-top: 20rem; */
}
 } 


@media (max-width: 26.5em) { 
.mobile-1 {
    margin-left: -23%;
}
 } 


/* 
@media (max-width: 52.4375em) { 
.mobile-1 {
    margin-left: -10rem;
}
 } 

@media (max-width: 51em) { 
.mobile-1 {
    margin-left: -8rem;
}
 } 


@media (max-width: 46.9375em) { 
.mobile-1 {
    margin-left: -6rem;
}
 } 

@media (max-width: 42.0625em) { 
.mobile-1 {
    margin-left: -6.5rem;
}
 } 


@media (max-width: 41.5em) { 
.mobile-1 {
    margin-left: -6rem;
}
 }  

    
@media (max-width: 35.1875em) { 
.mobile-1 {
    margin-left: -6.5rem;
}
 } 
 

@media (max-width: 33.875em) { 
.mobile-1 {
    margin-left: -6rem;
}
 } 

@media (max-width: 31.25em) { 
.mobile-1 {
    margin-left: -5.5rem;
}
 } 
    
 
@media (max-width: 30.625em) { 
.mobile-1 {
    margin-left: -6rem;
}
 } 


@media (max-width: 28.125em) { 
.mobile-1 {
  padding-top: 1rem;
}
 }  

@media (max-width: 27.1875em) { 
.mobile-1 {
        margin-left: -5.3rem;
}
 }  

@media (max-width: 26.6875em) { 
.mobile-1 {
    margin-left: -4.5rem;
}
 }

@media (max-width: 25.75em) { 
.mobile-1 {
    margin-left: -3.8rem;
}
 } 


@media (max-width: 23.125em) { 
.mobile-1 {
    margin-left: -3.7rem;
}
 }  


@media (max-width: 23.875em) { 
.mobile-1 {
    margin-left: -4.3rem;
}
 }  
    

@media (max-width: 21.25em) { 
.mobile-1 {
    margin-left: -4rem;
}
 }    */

.mobile-mide-1 {
    /* width: 18rem; */
    /* height: 19rem; */
width: 31.3%;
height: 19rem;
    border-radius: .5rem;
    display: inline;
}

@media (max-width: 79.75em) { 
.mobile-mide-1 {  
    height: 17rem;
    width: 30%;
}
}


@media (max-width: 75em) { 
.mobile-mide-1 {
    height: 16rem;
}
 } 


@media (max-width: 71.25em) { 
.mobile-mide-1 {
   height: 22rem;
   width: 44%;
}
 }

    
@media (max-width: 67.125em) { 
.mobile-mide-1 {
    height: 19rem;
}
 }


@media (max-width: 62.625em) { 
.mobile-mide-1 {
    width: 40%;
    height: 15rem;
}
 } 


@media (max-width: 58.25em) { 
.mobile-mide-1 {
  width:  32%;
  height: 17rem;
  margin-top: -1rem;
}
 }
        

@media (max-width: 50.875em) { 
.mobile-mide-1 {
    height: 15rem;
}
 }

   
@media (max-width: 39.375em) { 
.mobile-mide-1 {
  height: 12rem;     
}
 }

 
@media (max-width: 34.25em) { 
.mobile-mide-1 {
    height: 11rem;  
}
 } 


@media (max-width: 31.5em) { 
.mobile-mide-1 {
    width: 48%;
    height: 14rem;     
}
 }  

 

@media (max-width: 25.75em) { 
.mobile-mide-1 {
    height: 11rem;  
    width: 46%;   
}
 }  
   
@media (max-width: 23.75em) { 
.mobile-mide-1 {
    height: 11rem;     
}
 }  
   
@media (max-width: 21.625em) { 
.mobile-mide-1 {
  
    height: 10rem;     
}
 }

/*
@media (max-width: 36.9375em) { 
.mobile-mide-1 {
    width: 16rem;
    height: 16rem;     
}
 }  
    


@media (max-width: 33.6875em) { 
.mobile-mide-1 {
    width: 15rem;
    height: 15rem;     
}
 }
 
@media (max-width: 31.25em) { 
.mobile-mide-1 {
    width: 14rem;
    height: 14rem;     
}
 } 


@media (max-width: 30.625em) { 
.mobile-mide-1 {
    width: 14.5rem;
    height: 14.5rem;     
}
 }  

@media (max-width: 29.375em) { 
.mobile-mide-1 {
    width: 14rem;
    height: 14rem;     
}
 }  
    


@media (max-width: 27.1875em) { 
.mobile-mide-1 {
        width: 13.5rem;
        height: 13.5rem;     
}
 }


@media (max-width: 26.6875em) { 
.mobile-mide-1 {
    width: 11.5rem;
    height: 11.5rem;     
}
 }

@media (max-width: 25em) { 
.mobile-mide-1 {
    width: 11rem;
    height: 11rem;     
}
 }


@media (max-width: 25.75em) { 
.mobile-mide-1 {
    width: 10.5rem;
    height: 10.5rem;     
}
 }


@media (max-width: 23.125em) { 
.mobile-mide-1 {
    width: 10rem;
    height: 10rem;     
}
 }

@media (max-width: 21.25em) { 
.mobile-mide-1 {
    width: 9.5rem;
    height: 9.5rem;     
}
 }

@media (max-width: 20.5em) { 
.mobile-mide-1 {
    width: 9rem;
    height: 9rem;     
}
 } */

.mobile-3-payragraph {
   
} 


@media (max-width: 58.25em) { 
.mobile-3-payragraph { 
 text-align: right;
 position: relative;
 right: 30%;
}
 } 

@media (max-width: 50.5em) { 
.mobile-3-payragraph { 
 position: relative;
 right: 29%;
}
 } 

@media (max-width: 47.375em) { 
.mobile-3-payragraph { 
 position: relative;
 right: 28.5%;
}
 } 

@media (max-width: 43.625em) { 
.mobile-3-payragraph { 
 position: relative;
 right: 27.8%;
}
 }

@media (max-width: 41.5em) { 
.mobile-3-payragraph { 
     position: relative;
     right: 27.5%;
}
 }

 
@media (max-width: 40em) { 
.mobile-3-payragraph { 
    position: relative;
    right: 26%;
}
 }

@media (max-width: 39.375em) { 
.mobile-3-payragraph { 
    position: relative;
    right: 25%;
}
 }

@media (max-width: 31.5em) { 
.mobile-3-payragraph { 
    position: relative;
    right: 22%;
}
 }

.mobile-price {
     margin-top: .5rem;
}


@media (max-width: 54.75em) { 
.mobile-price-secend { 
    position: relative;
    left: .5%;
}
 }

@media (max-width: 51.5em) { 
.mobile-price-secend { 
    position: relative;
    left: 1.2%;
}
 }

.mobile-name {
    margin-top: -1rem;
    
}
 
@media (max-width: 58.25em) { 
.Samsung { 
    position: relative;
    left: 6.7%;
}
 } 

@media (max-width: 54.75em) { 
.Samsung { 
    position: relative;
    /* left: 7.5%; */
    left: 8%;
}
 } 

@media (max-width: 51.5em) { 
.Samsung { 
    position: relative;
    left: 9%;
}
 } 
 

@media (max-width: 41.5em) { 
.Samsung { 
    position: relative;
    left: 11%;
}
 }  

@media (max-width: 58.25em) { 
.Faisalabad { 
position: relative;
right: 3%;
}
 }

@media (max-width: 54.75em) { 
.Faisalabad { 
position: relative;
right: 2.9%;
}
 }

@media (max-width: 51.5em) { 
.Faisalabad { 
    position: relative;
    right: 2.4%;
}
 }

@media (max-width: 58.25em) { 
.price-3  { 
    position: relative;
    right:  3%;     
}
 }  
 
@media (max-width: 53.5em) { 
.price-3  { 
    position: relative;
    right:  2%;     
}
 }

@media (max-width: 58.25em) { 
.NIKE-name  { 
    position: relative;
    right:  1%;  
}
 }  


@media (max-width: 58.25em) { 
.Name-Faisalabad  { 
    position: relative;
    right: 3.5%; 
}
 }   
  
@media (max-width: 58.25em) { 
.price-4  { 
    position: relative;
    right: 1.8%; 
}
 }   
    
@media (max-width: 57.875em) { 
.price-4  { 
    position: relative;
    right: 1.3%; 
}
 }  

@media (max-width: 52.625em) { 
.price-4  { 
    position: relative;
    right: .7%; 
}
 }  

@media (max-width: 53.5em) { 
.NIKE-name { 
    position: relative;
    left: .11%;
}
 }

@media (max-width: 58.25em) { 
.NIKE-name-2 { 
    position: relative;
    left: 2.5%;
}
 }   
    
@media (max-width: 57.875em) { 
.NIKE-name-2 { 
    position: relative;
    left: 2.9%;
}
 }  

@media (max-width: 52.625em) { 
.NIKE-name-2 { 
    position: relative;
    left: 3.9%;
}
 } 

@media (max-width: 41.5em) { 
.NIKE-name-2 { 
    position: relative;
    left: 5.3%;
}
 } 

@media (max-width: 58.25em) { 
.NIKE-name-3 { 
    position: relative;
    left: 4.5%;
}
 } 

@media (max-width: 52.625em) { 
.NIKE-name-3 { 
    position: relative;
    left: 6.3%;
}
 }

@media (max-width: 41.5em) { 
.NIKE-name-3 { 
    position: relative;
    left: 7.9%;
}
 }

@media (max-width: 58.25em) { 
.price-5 { 
    position: relative;
    right: 2.8%;
}
 } 
    
@media (max-width: 58.25em) { 
.NIKE-name-4 { 
        position: relative;
        right: 2%;
}
 } 
    
@media (max-width: 58.25em) { 
.Name-Faisalabad-2 { 
    position: relative;
    right: 3.2%;
}
 } 
    
@media (max-width: 53.5em) { 
.Name-Faisalabad { 
  position: relative;
  right: 2.6%;
}
 } 
        

.mobile-location {
    /* position: relative; */
    /* top: -1.2rem; */
    /* padding-top: -1.2rem; */
    margin-top: -.2rem;
    font-size: .8rem;
    color: grey;
}


.mobile-2 {
margin-top: -25.5rem !important;
 /* margin-left: 23rem; */
margin-left: 38%;
}
 
@media (max-width: 79.75em) { 
.mobile-2 {
    margin-top: -23.5rem !important;
    margin-left: 40.5%;
}
 }
    
@media (max-width: 75em) { 
.mobile-2 {
     margin-top: -22.5rem !important;
}
 } 

@media (max-width: 71.25em) { 
.mobile-2 {
    margin-left: 56%;
    margin-top: -28.5rem !important;
}
 }


@media (max-width: 67.125em) { 
.mobile-2 {
    margin-top: -25.5rem !important;        
}
 }
 

 @media (max-width: 62.625em) { 
.mobile-2 {
    margin-top: -21.5rem !important;          
    margin-left: 57%;
}
 }  


@media (max-width: 58.25em) { 
.mobile-2 {
    margin-top: -25.5rem !important;          
    margin-left: 15%;   
}
 } 

 
@media (max-width: 50.875em) { 
.mobile-2 {
    margin-top: -23.5rem !important;          
}
 } 

@media (max-width: 39.375em) { 
.mobile-2 {
    margin-top: -20.5rem !important;             
}
 } 
    

@media (max-width: 34.25em) { 
.mobile-2 {
    margin-top: -19.5rem !important;          
}
 } 
    
@media (max-width: 31.5em) { 
.mobile-2 {
    margin-top: -22.5rem !important;
    margin-left: 40% !important;          
    /* margin-left: 10rem; */
}
 } 

        
@media (max-width: 26.5em) { 
.mobile-2 {
   margin-left: 39% !important;
               
}
 } 
          
@media (max-width: 25.75em) { 
.mobile-2 {
    margin-top: -19.5rem !important; 
    margin-left: 35.5% !important;       
}
 } 
  
@media (max-width: 23.75em) { 
.mobile-2 {
    margin-top: -19.5rem !important; 
           
}
 } 
    
 
@media (max-width: 21.625em) { 
.mobile-2 {
    margin-top: -18.5rem !important; 
          
}
 } 

/*
@media (max-width: 35.1875em) { 
.mobile-2 {
    margin-left: 10rem;
           
}
 }
    



@media (max-width: 33.6875em) { 
.mobile-2 {
    margin-left: 9.5rem;
    margin-top: -21.5rem !important;       
}
 }

@media (max-width: 31.25em) { 
.mobile-2 {
       
    margin-top: -20.5rem !important; 
    margin-left: 9rem;   
}
 }

@media (max-width: 30.625em) { 
.mobile-2 {         
    margin-top: -21rem !important; 
    margin-left: 9rem;   
}
 }
    
@media (max-width: 29.375em) { 
.mobile-2 {         
    margin-top: -20.5rem !important; 
    margin-left: 8.5rem;
    
}
 }


@media (max-width: 27.1875em) { 
.mobile-2 {         
    margin-top: -20rem !important; 
}
 }

@media (max-width: 26.6875em) { 
.mobile-2 {         
    margin-top: -18rem !important; 
    margin-left: 7.5rem;
}
 }


@media (max-width: 25.75em) { 
.mobile-2 {         
    margin-top: -17rem !important; 
        
}
 } 

@media (max-width: 25em) { 
.mobile-2 {         
    margin-left: 7.2rem;
            
}
 } 
    


@media (max-width: 23.875em) { 
.mobile-2 {           
    margin-left: 6.5rem;
}
 } 

@media (max-width: 23.125em) { 
.mobile-2 {           
    margin-top: -16.5rem !important;
    margin-left: 6rem;
}
 } 

@media (max-width: 21.25em) { 
.mobile-2 {           
    margin-top: -16rem !important;
    margin-left: 6rem;
}
 } 


@media (max-width: 20.5em) { 
.mobile-2 {           
    margin-top: -15.5rem !important;
    margin-left: 5.5rem;
    
}
 }  */

.mobile-mide-2{

    height: 19rem;
   /* width: 18rem;  */
   width: 47%;
    border-radius: .5rem;
    margin-right: 22%!important;
}

@media (max-width: 79.75em) { 
.mobile-mide-2 {
    width: 44%;
    height: 17rem;
}
 }

@media (max-width: 75em) { 
.mobile-mide-2 {
    height: 16rem;
}
 }



@media (max-width: 71.25em) { 
.mobile-mide-2 {
    height: 22rem;
    width: 78%;       
}
 }  


@media (max-width: 67.125em) { 
.mobile-mide-2 {
height: 19rem;
}
 }


@media (max-width: 62.625em) { 
.mobile-mide-2 {
    width: 70%;
    height: 15rem;

}
 } 
    
@media (max-width: 58.25em) { 
.mobile-mide-2 {
    height: 17rem;
    width: 48%;
}
 }
        

@media (max-width: 50.875em) { 
.mobile-mide-2 {
    height: 15rem;
}
 }   

  
@media (max-width: 39.375em) { 
.mobile-mide-2 {
    height: 12rem;
}
 }   

@media (max-width: 34.25em) { 
.mobile-mide-2 {
   
    height: 11rem;
}
 }   


@media (max-width: 31.5em) { 
.mobile-mide-2 {
        /* width: 14rem; */
        width: 68%;
        height: 14rem;
}
 }   
    
@media (max-width: 31.5em) { 
.mobile-mide-2 {
   width: 95%;
}
 }   
 

@media (max-width: 25.75em) { 
.mobile-mide-2 {
    
    height: 11rem;
    width: 88%;     
}
 } 

@media (max-width: 23.75em) { 
.mobile-mide-2 {
    
    height: 11rem;     
}
 }

  
@media (max-width: 21.625em) { 
.mobile-mide-2 {
    
    height: 10rem;     
}
 }

/*
@media (max-width: 33.6875em) { 
.mobile-mide-2 {
    width: 15rem;
    height: 15rem;

}
 }
 
@media (max-width: 31.25em) { 
.mobile-mide-2 {
    width: 14rem;
    height: 14rem;

}
 }  


@media (max-width: 30.625em) { 
.mobile-mide-2 {
        width: 14.5rem;
        height: 14.5rem;
}
 }


@media (max-width: 29.375em) { 
.mobile-mide-2 {
    width: 14rem;
    height: 14rem;
}
 }
    

@media (max-width: 27.1875em) { 
.mobile-mide-2 {
    width: 13.5rem;
    height: 13.5rem;
}
 }

@media (max-width: 26.6875em) { 
.mobile-mide-2 {
    width: 11.5rem;
    height: 11.5rem;
}
 }


@media (max-width: 25em) { 
.mobile-mide-2 {
    width: 11rem;
    height: 11rem;
}
 } 


@media (max-width: 25.75em) { 
.mobile-mide-2 {
    width: 10.5rem;
    height: 10.5rem;
}
 } 
    

@media (max-width: 23.125em) { 
.mobile-mide-2 {
    width: 10rem;
    height: 10rem;
}
 } 


@media (max-width: 21.25em) { 
.mobile-mide-2 {
    width: 9.5rem;
    height: 9.5rem;
}
 }  


@media (max-width: 20.5em) { 
.mobile-mide-2 {
    width: 9rem;
    height: 9rem;
}
 }   */

.mobile-3 {
    /* margin-left: 42.7rem; */
    margin-left: 68%;
    margin-top: -25.5rem;
    /* float: right; */
}

@media (max-width: 79.75em) { 
.mobile-3 {
    margin-top: -23.5rem;
}
 } 
 
@media (max-width: 75em) { 
.mobile-3 {
   margin-top: -22.5rem;       
}
 } 

  
@media (max-width: 71.25em) { 
.mobile-3 {
    display: none !important;         
}
 } 

  

@media (max-width: 58.25em) { 
.mobile-3 {
    display: inline !important;   
    position: relative;
    top: -23.5rem;
    margin-left: 58%;
    
 
}
 }


@media (max-width: 50.875em) { 
.mobile-3 {
    position: relative;
    top: -21.5rem;       
}
 } 

@media (max-width: 39.375em) { 
.mobile-3 {
    position: relative;
    top: -18.5rem;
    
}
 }

@media (max-width: 34.25em) { 
.mobile-3 {
    position: relative;
    top: -17.5rem;
}
 } 

@media (max-width: 31.5em) { 
.mobile-3 {
   display: none !important;
}
 }

/* 
@media (max-width: 52.4375em) { 
.mobile-3 {
    display: block;
    margin-left: 23rem;
   margin-top: -27.5rem;
}
 } 
         
@media (max-width: 51em) { 
.mobile-3 {
    margin-top: -25.5rem !important;
    margin-left: 21rem;          
}
 } 
     
@media (max-width: 46.9375em) { 
.mobile-3 {
    margin-top: -23.5rem !important;
    margin-left: 19rem;          
}
 } 

  
@media (max-width: 42.0625em) { 
.mobile-3 {
  display: none;         
}
 }   */

.mobile-mide-3 {
    /* width: 18rem; */
    height: 19rem;
    width: 90%;
    border-radius: .5rem;
  
}


@media (max-width: 79.75em) { 
.mobile-mide-3 {
    height: 17rem;
    width: 84%;
}
 }

 
@media (max-width: 75em) { 
.mobile-mide-3 {
   height: 16rem;
}
 }

  
@media (max-width: 62.625em) { 
.mobile-mide-3 {
 width: 25%;
 height: 11rem;
}
 }

@media (max-width: 58.25em) { 
.mobile-mide-3 {
     width: 40%;
     height: 17rem;
}
 }

 
@media (max-width: 50.875em) { 
.mobile-mide-3 {
    height: 15rem;
}
 }


@media (max-width: 39.375em) { 
.mobile-mide-3 {
    
    height: 12rem;
   
}
 }

@media (max-width: 34.25em) { 
.mobile-mide-3 {
    height: 11rem;
}
 }

/*  
@media (max-width: 51em) { 
.mobile-mide-3 {
    width: 14rem;
    height: 14rem;
        
}
 }
  
 
@media (max-width: 46.9375em) { 
.mobile-mide-3 {
    width: 12rem;
    height: 12rem;            
}
 } */

.center-one-hr{
  width: 85%;
  margin-left: 8%;
}

 @media (max-width: 79.75em) { 
.center-one-hr{
 width: 82%;
 margin-left: 13%;
}
 } 


@media (max-width: 71.25em) { 
.center-one-hr{
    width: 70%;
    margin-left: 19.5%;
}
 } 

 
@media (max-width: 58.25em) { 
.center-one-hr{
   margin-top: -22rem;
   margin-left: -28% !important;
   width: 125%;
}
 } 

 .mid-side-pic {

 }


@media (max-width: 58.25em) { 
.mid-side-pic{
   position: relative;
   top: 8rem;
   margin-top: 8rem !important;
}
 }  


@media (max-width: 39.375em) { 
.mid-side-pic{
    position: relative;
    /* top: 0rem; */
    margin-top: 14rem !important;
}
 }  
    
@media (max-width: 31.5em) { 
.mid-side-pic{

    margin-top: -12rem !important;
}
 }  


@media (max-width: 31.5em) { 
.mid-side-pic-2{
   margin-top: 28.5rem !important;
   /* position: relative; */
   /* top: 8rem !important; */
}
 }  
    

@media (max-width: 58.25em) { 
.secend-side-fast{
    margin-top: -13rem !important; 
}
 } 

@media (max-width: 31.5em) { 
.secend-side-fast{
    margin-top: 0rem !important; 
}
 } 

@media (max-width: 39.375em) { 
.secend-side-secend{
   position: relative;
   top: 3rem;
}
 } 
    
.watch-series {

}


@media (max-width: 58.25em) { 
.watch-series {
    margin-top: -26rem;   
}
 } 


.airport {

}

@media (max-width: 58.25em) { 
.airport{
   margin-top: -26rem;
 }
}


@media (max-width: 39.375em) { 
.airport{
       margin-top: -23rem;
 }
}

.Track-surt {

}


@media (max-width: 58.25em) { 
.Track-surt{
  margin-top: -25rem;
 }
}
    

@media (max-width: 39.375em) { 
.Track-surt{
       
 margin-top: -22rem;
 }
}

 
@media (max-width: 39.375em) { 
.center-one-hr{   
    position: relative;
    top: 4rem;
}
 }
 
@media (max-width: 31.5em) { 
.center-one-hr{   
    display: none !important;
    /* position: relative; */
    /* top: 0rem; */
}
 } 
      

 /*   
@media (max-width: 51em) { 
.center-one-hr{
    width: 107%;
    margin-left: -20%;
}
 } 
      
 
@media (max-width: 46.9375em) { 
.center-one-hr{
    width: 102%;
    margin-left: -16%;
}
 } 


@media (max-width: 44.375em) { 
.center-one-hr{
    width: 107%;
    margin-left: -17%;
}
 } 
          

@media (max-width: 42.0625em) { 
.center-one-hr{
    width: 110%;
    margin-left: -17%;
}
 } 



@media (max-width: 39.75em) { 
.center-one-hr{
    width: 125%;
    margin-left: -19%;
}
 }
    
@media (max-width: 36.9375em) { 
.center-one-hr{
    width: 112%;
    margin-left: -19%;
}
 }





@media (max-width: 27.6875em) { 
.center-one-hr{
   
    margin-left: -18%;
}
 }

@media (max-width: 25.8125em) { 
.center-one-hr{
  width: 105%;
    margin-left: -14%;
}
 }
  */




/* dropdown-menu  */



.dropdown-menu {
    width: 22rem; 
    height: 35rem;
    margin-left: 2rem !important;
    cursor: pointer;
 }

@media (max-width: 83.375em) { 
.dropdown-menu {
     margin-left: 0 !important;
 }
  }

  
.dropdown-menu-2 {
    width: 23rem;
    height: 40rem;
    cursor: pointer;
    position: relative;
    left: -2rem !important;
} 


@media (max-width: 25em) { 
.dropdown-menu-2 {
    width: 22rem;
    position: relative;
    left: 0 !important;
}
 }

 
@media (max-width: 21.875em) { 
.dropdown-menu-2 {
    width: 21rem;
    position: relative;
    left: 0 !important;
}
 }
         
 
@media (max-width: 20.6875em) { 
.dropdown-menu-2 {
    width: 20rem;
  
}
 }
     


 .input-text-fast {
     width: 20rem;
     margin-left: 1rem;
     border-radius: 1rem;
     height: 2.5rem;
     border-style: none;
 background-color: rgb(243, 243, 243);
 cursor: pointer;
 }
 
 :hover.input-text-fast {
     background-color: rgb(226, 226, 226);
 }
 
 
 .dropdown-menu-fast {
     cursor: pointer;
     width: 90%;
     margin-left: 5%;
     border-radius: .5rem;
 }
 
 :hover.dropdown-menu-fast  {
     background-color: rgb(226, 226, 226);
 }
 
 
 .dropdown-menu-secend {
     cursor: pointer;
     width: 90%;
     margin-left: 5%;
     border-radius: .5rem;
     margin-top: -1.3rem;
 }
 
 :hover.dropdown-menu-secend  {
     background-color: rgb(226, 226, 226);
 }
 
 
 .dropdown-h5 {
     margin-left: 10%;
     margin-top: 1rem;
 }
 
 .friends-icon{
     font-size: 1.3rem;
   color: rgb(50, 125, 245); 
   margin-left: 1rem;
   margin-top: 1rem;
 }
 
 .dropdown-small {
     font-size: .95rem;
     margin-left: 2%;
     position: relative;
     top: -.3rem;
 }
 
 .dropdown-menu-payragraph {
     width: 75%;
     margin-left: 16%;
     font-size: .8rem;
     position: relative;
     top: -.5rem;
 }
 
 .dropdown-flag {
     color: orange;
     margin-left: 1rem;
   margin-top: 1rem;
   font-size: 1.3rem;
 }
 
 /* secend-side-Messenger */
 
 
 .dropdown-menu-Messenger {
     display: inline;
     margin-left: 5%;
 }
 
 
 .fa-ellipsis-h {
    margin-left: 14%;
    padding: .5rem;
    border-radius: 100%;
 }
 
 :hover.fa-ellipsis-h {
     background-color: rgb(226, 226, 226);
 }
 
 .messenger-icon {
     padding: .5rem;
     margin-left: .5rem;
     border-radius: 100%;
 }
 
 :hover.messenger-icon {
     background-color: rgb(226, 226, 226);
 }
 
 
 .dropdown-menu-three {
     width: 90%;
     border-radius:1rem;
     margin-top: .5rem;
     margin-left: 5%;
     padding: .4rem;
     border-style: none;
     background-color: rgb(243, 243, 243);
 }
 
 
 .dropdown-secend-side {
     border-radius: .5rem;
     padding-top: .5rem;
     padding-left: .5rem;
     padding-right: .5rem;
     width: 90%;
     margin-left: 5%;
     margin-top: 1rem;
 }
 
 :hover.dropdown-secend-side {
     background-color: rgb(226, 226, 226);
 }
 
 .dropdown-secend-side-2 {
     border-radius: .5rem;
     padding-top: .5rem;
     padding-left: .5rem;
     padding-right: .5rem;
     width: 90%;
     margin-left: 5%;
     margin-top: -1rem;
 }
 
 :hover.dropdown-secend-side-2 {
     background-color: rgb(226, 226, 226);
 }
 
 .dropdown-fast-img {
     width: 3rem;
     height: 3rem;
     border-radius: 100%;
 
 }
 
 .dropdown-fast-payragraph {
     display: inline;
     font-size: 1.1rem;
     margin-left: 2%;
     position: relative;
     top: -.5rem;
     color: black;
 }
 
 .dropdown-secend-payragraph {
     font-size: .9rem;
     width: 90%;
     margin-left: 15%;
     margin-top: -1rem;
     position: relative;
     top: -.7rem;
     left: 3%;
 }
 
 
 .dropdown-menu-foure {
     margin-top: .5rem;
     margin-left: 1rem;
     display: inline;
 }
 
 .dotes-foure {
 margin-left: 40%;
 }
 
 .dropdown-foure-payragraph {
     padding: .5rem;
     border-radius: 100%;
     display: inline;
     background-color: rgb(227, 255, 227);
     color: blue;
     position: relative;
     top: 1rem;
     left: 1rem;
 }
 
 :hover.dropdown-foure-payragraph {
     background-color: rgb(195, 241, 195);   
 }
 
 .dropdown-five-payragraph {
     display: inline;
     padding: .5rem;
     border-radius: 1rem;
     background-color: rgb(240, 240, 240);
     position: relative;
     top: 1rem;
     left: 1rem;
 }
 
 :hover.dropdown-five-payragraph {
     background-color: rgb(226, 226, 226);
 }
 
 .dropdown-six-payragraph {
     font-size: 1.2rem;
     margin-top: 3rem !important;
     margin-left: 1rem;
     
 }
 .dropdown-seven-payragraph {
     float: right;
     position: relative;
     top: -2.8rem;
     /* right: 2rem; */
     padding-left: 2rem;
     padding-right: 2rem;
     padding-top: .2rem;
     padding-bottom: .5rem;
     /* background-color: greenyellow; */
     color: blue;
 } 
 
 :hover.dropdown-seven-payragraph {
     background-color: rgb(226, 226, 226);
 }
 
 
 /* dropdown-menu-end */
 
 .dropdown-menu-end {
     height: 28rem;
     width: 23rem;
    
 }
 
 .dropdown-img-end {
     width: 4rem;
     height: 4rem;
     border-radius: 100%;
     margin-left: .4rem;
     margin-top: 1rem;
     position: relative;
     top: -1rem;
 }
 .div-end {
  width: 95%;
  margin-left: 2.5%;
  border-radius: .5rem;
 }
 
 :hover.div-end {
     background-color: rgb(226, 226, 226);
 }
 
 .end-h5 {
     display: inline;
     position: relative;
     top: -1rem;
     left: .4rem;
 }
 
 .end-payragraph {
 margin-top: -2rem;
 margin-left: 5.1rem;
 position: relative;
 top: -1rem;
 
 }
 
 .dropdown-hr {
     width: 90%;
     margin-left: 5%;
 }
 
 .div-end-secend {
   width: 95%;
   margin-left: 2.5%;
   border-radius: .5rem;
   margin-top: -.5rem;
 }
 
 :hover.div-end-secend {
     background-color: rgb(226, 226, 226);
 }
 
 .fas-massage{
     font-size: 1.1rem;
     padding: .5rem;
     background-color: rgb(240, 240, 240);    
     border-radius: 100%;
     margin-left: 1rem;
     position: relative;
     top: .5rem;
 }
 
 
 .end-payragraph-2{
     margin-top: -1.8rem;
     margin-left: 4.5rem;
     font-size: 1.1rem;
 }
 
 .small-payragraph-3 {
     position: relative;
     top: -1.2rem;
     left: 4.5rem;
 }
 .dropdown-hr-2 {
     margin-top: .3rem;
     width: 90%;
     margin-left: 5%;
 }
 
 .div-end-three {
     padding-left: 1rem;
     /* background-color: chocolate; */
     margin-top: -.5rem;
     border-radius: .5rem;
     width: 95%;
     margin-left: 2.5%;
 }
 :hover.div-end-three {
     background-color: rgb(226, 226, 226);
 }
 
 .end-page-setting {
     float: left;
     margin-top: .8rem;
     font-size: 1.2rem;
     position: relative;
     /* left: .rem; */
 }
 
 .end-payragraph-3 {
     position: relative;
     top: 1rem;
     left: .5rem;
     font-size: 1.1rem;
 }
 .end-payragraph-4 {
     position: relative;
     top: 1rem;
     left: 1.5rem;
     font-size: 1.1rem;
 }
 
 .Direction {
     margin-left: 15rem;
     font-size: 1.2rem;
     position: relative;
     top: -1.4rem;
 }
 .Direction-2 {
     margin-left: 16.1rem;
     font-size: 1.2rem;
     position: relative;
     top: -1.4rem;
 }
 
 .Direction-3 {
     margin-left: 15.8rem;
     font-size: 1.2rem;
     position: relative;
     top: -1.4rem;
 }
 
 .same-all {
     padding: .5rem;
     border-radius: 100%;
     background-color: rgb(240, 240, 240);
 }
 



